.toolbar{
    top: 0;
    left: 0;
  position:fixed;
  z-index: 1;
    width: 100%;
    background: black;
    padding:10px;
   
}

.toobar-navigation{
    height: 100%;
    display: flex;
    align-items: center;
}

.toolbar-logo{
   position: relative;
   left: calc( 50% - 25px);  
}

.logo{
    width:35px;
    height:35px;
}

.spacer{
    flex: 1;
}

.toolbar-navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar-navigation-items li{
    padding: 0 0.5rem;
}

.toolbar-navigation-items a{
    color: white;
    text-decoration: none;
    padding:15px 10px;
}

.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active{
    color:#e84c3d;
    text-decoration:none ;
}
.toolbar-navigation-items a.active{
    border-bottom: 3px solid #e84c3d;
}


@media (max-width: 768px) {
    .toolbar-navigation-items {
        display: none;
    }

    .logo{
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 769px){
    .toolbar__toggle-button{
        display: none;
    }

    .toolbar-logo{
        left:0;
    }

}