body{
    background-color: #161515;

}

.wrapper{
 
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: auto;
}

/*1st Div*/
.about-info-heading{
  margin: 3rem 0;
}

.about-main-heading{
  text-align: left;
  font-weight: 600;
  font-size: 40px;
}

.about-main-info{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;

  color: #FFFFFF;
}

p{
  color: white;
}

/*2nd Div*/

.about-faq-heading{
  margin: 3rem 0;
}

.spacer-about{
  margin: 3rem 0;
}

/*3rd Div*/

.about-people{
  margin: 3rem 0;
}

.profile-card{
  display: flex;
  align-items: center;
  margin: 4rem 0;
  padding: 2rem;
  background: #252525;
  border-radius: 4px;
}

.profile{
  width: 150px;
  height: 150px;
}

.profile-card-left{
  margin-right: 2rem;
}

.profile-name{
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.035em;
  
  color: #FFFFFF;

}

.twitter-button{
  border: none;
  margin-right: 3rem;
  background: #B5DBF8;
  border-radius: 4px;
  width: 150px;
  height: 30px;
  transition: transform 250ms;
}

.twitter-button:hover{
  transform: translateY(-2px);
}

.twitter-button a{
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #55ACEE;
}

.twitter-button a:hover{
  color:  rgb(37, 148, 233);
}

.github-button{
  border: none;
  background: #F1F4F5;
  color:black;
  border-radius: 4px;
  width: 150px;
  height: 30px;
  transition: transform 250ms;
}

.github-button:hover{
  transform: translateY(-2px);
}

.github-button a{
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.github-button a:hover{
  color: #000000;
}

@media screen and (max-width:768px){
  .wrapper{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-main-heading{
    font-weight: 600;
    font-size: 35px;
  }

  .profile-card{
    display:grid;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 8px);
    height:auto;
  }
  .profile-card-left{
    margin-right: 0rem;
  }
  .profile{
    position: relative;
    left: calc(50% - 5rem);
  }
  .profile-card-right{
    margin-left: 0;
    margin-right: 0;
  }
  .profile-name{
    text-align: center;
  }
  .profile-right-buttons{
    display:flex;
  }
  .twitter-button{
    width:100px;
    height:auto;
  }
  .github-button{
    width: 100px;
    height: auto;
  }
}