.side-drawer {
    height: 30%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    transform: translateY(-110%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open {
    transform: translateY(0);
}

.side-drawer ul{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li{
    margin: 0.5rem 0;
}

.side-drawer li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-drawer li a:hover,
.side-drawer a:active,
.side-drawer a.active{
    color: #e84c3d;
}


@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}