body {
  overflow-x: hidden;
}


.footer{
    background-color: black;
    overflow-x: hidden;
    margin-top: 3rem;
    padding: 3rem;
  }
    
  .footer-logo-container{
    margin-bottom: 2rem;
    display:flex;
    align-items: center;

  }
  
  .footer-pic{
    width: 54px;
    height: 54px;
  }
  
  .foogter-logo-name{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin-left: 1rem;
  }

  .footer-info{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 20px;

    text-transform: capitalize;
    letter-spacing: 0.01em;

    color: #FFFFFF;
  }

/*Footer Navigation*/

  .footer-navigation-items{
    margin-top: 2rem;
  }

  .footer-navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

  .footer-navigation-items li{
      padding:  0.5rem 3rem 0.5rem 0;
  }

  .footer-navigation-items a{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    color: #999696;
    text-decoration: none;
  }

  .footer-navigation-items a:hover,
  .footer-navigation-items a:active{
      color:#e84c3d;
      text-decoration:none ;
  }


/*Footer Notice*/

.footer-rights{
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
}

.spacer{
  flex: 1;
}


  .footer-notice{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    text-transform: capitalize;

    color: #999696;
  }



  @media (max-width: 768px) {
    .footer{
      padding: 1rem;
    }

    .footer-pic{
      width: 35px;
      height: 35px;
    }

    .foogter-logo-name{
      font-weight: 500;
      font-size: 20px;
    }

    .footer-info{
      margin-right: 3rem;
      margin-bottom: 1rem;
      font-weight: 300;
      font-size: 16px;
    }

    .footer-navigation-items{
      margin-right: 3rem;
      margin-top: 1rem;
    }

    .footer-navigation-items ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
    }

    .footer-navigation-items a{
      font-size: 14px;
    }

    .footer-rights{
      margin-top: 2rem;
      margin-bottom: 3rem;
      margin-right: 3rem;
      display: block;
    }

    .footer-notice{
      margin-top: 1rem;
    }
  }

  
  


