body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay,
.overlay-2,
.overlay-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}
.intro {
 position: absolute;
 top:50%;
 left:35%;
  text-align: center;
  color: #fff;
  font-size: 4rem;

}
.overlay {
    z-index: 1;
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../src/components/images/finalfantasy.jpg) no-repeat center
            center/cover fixed !important;
}


.overlay-2 {
    z-index: 2;
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../src/components/images/gow1.jpg) no-repeat center center/cover
            fixed !important;
}

.overlay-3 {
    z-index: 3;
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../src/components/images/hzd.jpg) no-repeat center center/cover
            fixed !important;
}
