body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay,
.overlay-2,
.overlay-3 {
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}
.intro {
 position: absolute;
 top:50%;
 left:36%;
 transform: (-50%,50%);
  text-align: center;
  color: #fff;
  font-size: 4rem;

}
.overlay {
    z-index: 1;
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../src/components/images/watchdogs.jpg) no-repeat center
            center/cover fixed !important;
}


.overlay-2 {
    z-index: 2;
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../src/components/images/Rogue.jpg) no-repeat center center/cover
            fixed !important;
}

.overlay-3 {
    z-index: 3;
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../src/components/images/Wildlands.jpg) no-repeat center center/cover
            fixed !important;
}
@media screen and (max-width:768px){
  .overlay{
    background:url(../src/components/images/WatchdogsM.jpg) no-repeat center center/cover
            fixed !important;

  }
  .overlay-2{
    background:url(../src/components/images/RogueM.jpg) no-repeat center center/cover
            fixed !important;

  }
  .overlay-3{
    background:url(../src/components/images/WildlandsM.jpg) no-repeat center center/cover
            fixed !important;

  }
  .intro{
    position: absolute;
    left:34%;
    font-size: 22px;
  }
}